[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
[submodule "external/harfbuzz"]
	path = external/harfbuzz
	url = https://github.com/libsdl-org/harfbuzz.git
	branch = 2.9.1-SDL
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/i-5o/freetype
